!!! 5
%html
  %head
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "js/highcharts.js"}
    %script{:type => "text/javascript", :src => "js/chart.js"}
    %link{:rel => "stylesheet", :href => "css/bootstrap.min.css", :type => "text/css"}
    :css
      .well {
        width: 80%;
        height: 550px;
        margin: auto;
        margin: 10px auto 10px auto;
      }
      
      #container {
        margin: auto;
      }
      
      h2 {
        text-align: center;
        margin: 10px 0 20px 0;
      }
      
      h3 {
        text-align: center;
        margin-bottom: 10px;
      }
  %body
    %h2 Twitter vs. Facebook
    .well
      %h3 Jesse
      .container#Jesse{:style => "width: 80%; height: 500px"}
    .well
      %h3 Emily
      .container#Emily{:style => "width: 80%; height: 500px"}
    .well
      %h3 Niki
      .container#Niki{:style => "width: 80%; height: 500px"}
    .well
      %h3 Wes
      .container#Wes{:style => "width: 80%; height: 500px"}